@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,400;1,500&display=swap");
.cart-container {
  padding-top: 15vh;
  min-height: 80vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.items-container h2 {
  text-align: center;
}

.cart-body {
  display: flex;
  justify-content: space-evenly;
}

.cart-item-details {
  width: 200px;
  height: 250px;
  border: 2px solid #222;
  box-shadow: 0 0 5px #222;
  margin: 1rem;
}
.cart-image-title {
  height: 50%;
}
.cart-image-title img {
  height: 50%;
}
.cart-price-quantity {
  margin-top: 2rem;
  background-color: #222;
  height: 30%;
}
.cart-price-details {
  color: #ffcc70;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1.3rem;
}
.cart-add-Button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-add-Button button {
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  width: 2.5rem;
  height: 1rem;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  margin: 0 0.3rem;
}
.cart-add-Button button:hover {
  box-shadow: 0 0 5px #ffcc70;
}

.cart-sub-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 2rem;
}

.cart-non-empty {
  margin: 5rem 0;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid #222;
  box-shadow: 0 0 5px #222;
}
.cart-subtotal {
  background-color: #222;
  padding-top: 0.2rem;
  color: #ffcc70;
}
.cart-subtotal span {
  background-color: white;
  display: flex;
  justify-content: center;
  color: #222;
  margin: 2rem 0;
}
.cart-non-empty .go-to-payment button {
  background-color: #222;
  color: rgb(250, 202, 45);
  border-radius: 5px;
  width: 8rem;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.cart-non-empty .go-to-payment button:hover {
  background-color: rgb(250, 202, 45);
  transform: scale(1.1);
  color: #222;
  cursor: pointer;
}
.cart-back-to-list {
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.cart-back-to-list a {
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
.cart-back-to-list a:hover {
  box-shadow: 0 0 5px #222;
}
